.update{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.update .wrapper {
      margin: auto;
      width: 40%;
      height: 90%;
      background-color: white;
      padding: 50px;
      z-index: 999;
      display: flex;
      flex-direction: column;
      gap: 20px;
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      position: relative;
}

.update .wrapper h3 {
        color: lightgrey;
      
      }

.update .wrapper form {
        display: flex;
        flex-direction: column;
        gap: 20px;
}

.update .wrapper form .files {
          display: flex;
          flex-wrap: wrap;
          gap: 50px;
 }

 .update .wrapper form label {
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: gray;
          font-size: 14px;
 }

.update .wrapper form label .imgContainer {
            position: relative;
}
.update .wrapper form label .imgContainer img {
              width: 70px;
              height: 70px;
              object-fit: cover;
              cursor: pointer;

            }
.update .wrapper form label .imgContainer .icon {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              font-size: 30px;
              align-items: center;
              color: lightgray;
              cursor: pointer;
            }

.update .wrapper form input {
          padding: 5px;
          border: none;
          margin-top: -15px;
          border-bottom: 1px solid gray;
          color: gray;
          background-color: transparent;
        }
        .update .wrapper form input:focus {
            outline: none;
          }

        .update .wrapper form button {
          border: none;
          padding: 10px;
          cursor: pointer;
          color: white;
          background-color: #5271ff;
        }

        .update .wrapper  .close {
        position: absolute;
        top: 10px;
        right: 20px;
        border: none;
        background-color: #f0544f;
        padding: 5px;
        cursor: pointer;
        color: white;
      }